
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
      <%- include('partials/nav.ejs') %>
   
        <h1>Main Page</h1>
        <p>

            You can sell your coronavirus vaccines or buy the most up-to-date vaccines on this site. </p>

        <p> Be the first to buy the vaccine you want with the auction system. </p>

        <p> You determine the price of the vaccine. </p>


        <p> Sell the vaccine you produce instantly, don't have to find customers. You set the price.
        </p>
       
        
    </body>
    </html>